html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    min-height: 5em;
    padding: 0em 6em;
}

header.row,
header.row .col {
    margin-bottom: 0;
    margin-top: 0;
}

.dropdown-content li > a {
    color: #2196F3;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    letter-spacing: 1px;
    padding-top: 0.375em !important;
}

h1 a {
    font-family: Dosis !important;
}

a,
button,
.btn {
    font-family: "Raleway", "Roboto", sans-serif;
    font-weight: 700;
}

h2,
h3,
h4,
h5,
h6,
.card-title {
    font-family: "Rubik", "Roboto";
}

::selection {
    color: rgb(69, 41, 0);
    background: rgb(194, 218, 158);
}

::-moz-selection {
    color: rgb(69, 41, 0);
    background: rgb(194, 218, 158);
}

.light-green.darken-2,

.primary-green {
    background: #48A64C !important;
}

.bold-blue {
    background: #4687F2;
    padding-bottom: 4em;
}

.bg {
    min-height: 90vh;    
}

.bg .container > .row{
    margin-bottom: 0;
}

header ul {
    display: inline-block;
}

.large-icon {
    font-size: 3em;
}

#main-container {
    height: 90%;
}

#main-container > .row {
    margin: 0;
}

#map-panel {
    padding: 0;
}

.map-container {
    height: calc(87vh - 3.5em);
}

#map {
    height: inherit;
}

#event-dashboard #map {
    width: 45%;
    display: inline-block;
    height: 40em;
}

#event-details #map {
    width: 100%;
    display: inline-block;
    height: 20em;
}

#event-dashboard .collection {
    margin-left: 4em;
    display: inline-block;
    width: 45%;
    vertical-align: top;
    height: 40em;
    overflow-y: scroll;
    overflow-x: hidden;
}

#side-bar {
    display: inline;
    position: absolute;
    height: 90%;
    overflow-y: scroll;
}

#side-bar h5 {
    padding: .1em .5em;
}

#side-bar .tabs .indicator {
    background: #2196F3;
    height: 0.375em;
}

.tabs {
    overflow: hidden;
}

h3 {
    text-align: center;
}

#modal-small {
    max-width: 25em;
}

.modal-large {
    width: 85%;
}

.modal-padding {
    padding: 3em 3em 1em 3em;
}

.row-tight {
    margin: 0;
}

.card {
    overflow: auto;
    color: #78909C;
}

.card .img-wrapper {
    overflow: hidden;
    height: 10em;
}

.card .card-title {
    margin-bottom: 10px;
    padding-left: 0;
    font-size: 1.5em;
    line-height: 1.3em !important;
}

.title {
    padding-bottom: 1em;
    font-weight: bold;
}

.mini-cal {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.mini-cal {
    font-family: raleway, roboto, sans-serif;
    color: #48A64C;
}

.mini-cal .day {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: .5em;
}

.mini-cal .day-num {
    font-weight: 700;
    font-size: 1.25em;
}

.mini-cal .month {
}

.mini-cal .context {
    font-family: roboto, sans-serif;
    color: #78909C;
    text-transform: capitalize;
    font-size: .8em;
    padding-bottom: .5em;
}

.icon-hoverable * {
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

.icon-hoverable i {
    width: 0;
    opacity: 0;
    margin: 0;
}

.icon-hoverable:hover i {
    width: 22px;
    margin-right: 10px;    
    opacity: 1;
}

.span-padded span {
    padding-right: 1.15em;
}

.span-padded i {
    position: relative;
    top: 3px;
}
.vertical-align {
    vertical-align: middle;
}

#side-bar .card-content {
    padding-bottom: 0;
}

#side-bar .card p {
    max-height: 10em;
    overflow-y: scroll;
    line-height: 1.75;
    margin: 1em 0;
    opacity: .8;
}

#side-bar .chip {
    background: #FFF;
}

#side-bar .chip:hover {
    background: #F4F4F4;
    color: #48A64C;
}

.card .flex-container {
    justify-content: space-between;
}

#side-bar .card .card-action {
    overflow: hidden;
    height: 6.25em;
    background: #F5F5F5;
}

#side-bar .pre-btn {
    padding-top: .8em;
}

#side-bar .pre-btn a {
    color: #61617A;
}

.hidden {
    display: none;

}
/*
.more-wrapper {
    position: relative;
}

.card .more {
    padding: 1.3em .75rem .35em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: inherit;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 66%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 66%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 66%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
*/

#btn-go {
    width: 7em;
    height: 3.5em;
    border-radius: 3em;
    border: 4px solid #2196F3;
    color: #2196F3;
    background: #EAEAEA;
    padding: .75em;
    margin-right: 0;
    text-align: center;
    vertical-align: top;
    display: inline-block;
   
    
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}
#btn-go:focus, #btn-go:active {
    background: #FFF !important;
}

#btn-go:hover {
    color: #FFF;
    background: #2196F3;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.spinner-blue-only {
    border-color: #2F9DF4;
}

#side-bar .circle-clipper .circle {
    border-width: 4px;
}

#side-bar .preloader-wrapper {
    position: relative;
    left: 3.5em;
    width: 3.5em;
    height: 3.5em;
}
.card-selected {
    background: #2196F3;
    color: #FFF;
}

.inverted-footer {
    margin: 0 -2em -2em -2em;
    padding: 2em;
}

.friends-attending {
    font-family: "Raleway", "Roboto";
    padding: 1em 2.35em 0;
    margin: 0 -1.35em 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.friends-attending img {
    margin: .25em 1.2em 0 0;
}

.attendees-preview {
    padding-top: 1em;
    padding-bottom: 1em;
}

.num-count {
    display: inline-block;
    font-weight: bold;
    font-family: "Roboto";
    padding-left: .6em;
    line-height: 2.25em;
}


/* label focus color */

#create-event .input-field input[type=text]:focus + label {
    color: #2196F3;
}


/* label underline focus color */

.input-field input[type=text]:focus,
input[type="password"]:focus:not([readonly]) {
    border-bottom: 1px solid #2196F3;
    box-shadow: 0 1px 0 0 #2196F3;
}

i.material-icons.prefix.active,
.input-field .prefix.active,
input[type="password"]:focus:not([readonly]) + label {
    color: #2196F3;
}

.icons-inline {
    font-size: 22px;
}

i.add-cursor:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.012, 1.027);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.012, 1.027);
    -ms-transform: scale(1.012, 1.027);
    color: #FFC02A;
}

#side-bar .collapsible,
.collapsible-header,
.collapsible-body {
    border: none;
}

#side-bar .collapsible {
    box-shadow: none;
    margin: 0;
}

footer {
    padding: 1.5em;
}

footer a {
    margin-left: 1em;
}

#home footer {
    padding: 0em;
    max-height: 1.5em;
    overflow: auto;
}

#home footer a {
    height: auto;
    text-align: center;
    line-height: 2em;
}

.info-card {
    display: inline-block;
    width: 47%;
    margin: auto;
    border: 25px;
    min-width: 300px;
}

.info-card .col.s6 {
    width: 100%;
}

.user-thumb {
    width: 2.45em;
    height: 2.45em;
    padding-top: .1em;
    margin: 0 .5em;
    vertical-align: bottom;
}

.user-thumb-med {
    width: 3.25em;
    height: 3.25em;
}

.user-thumb-large {
    width: 3em;
    height: 3em;
    margin: 0 1.25em 1.25em 0;
}

.pad-up {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.chip-margin-right {
    margin-right: 1em;
}

.collection .collection-item.avatar .secondary-content {
    position: unset;
    top: 0;
    right: 0;
}

p.reading {
    line-height: 1.75em;
}

#faq .collapsible-header.active {
    background: #eceff1;
    font-weight: bold;
}

.add-cursor,
.close {
    cursor: pointer;
}

#event-panel .close {
    position: absolute;
    top: 20px;
    right: 20px;
}

#create-event h2 {
    margin: .75em;
}

#event-container {
    padding: 2em;
}

#create-event #map {
    height: 25em;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#create-event #event-title {
    background: #2196F3;
    margin: -2em -2em 1.5em;
    padding: 1.5em;
}

#create-event #event-title input,
#create-event #event-title input:focus {
    margin-left: 1.75em;
    font-size: 2.75em;
    border: none;
    box-shadow: none;
    height: auto;
}

#create-event #event-title i {
    font-size: 3.75em;
}

#create-event #event-title label {
    font-size: 2.5em;
    top: 0em;
    margin-left: 2em;
    color: rgba(255, 255, 255, .5) !important;
}

#create-event .switch {
    margin-top: 2em;
    display: inline-block;
}


#event-dashboard header,
#friend-dashboard header {
    margin-bottom: 5em;
}

#registration .container {
    padding-top: 5em;
}

#registration form {
    color: #607D8B;
}

#registration form h2,h3,h4,h5 {
    color: #455A64;
}

/*
#registration {
    background: #4687F2;
}
*/

#registration form {
    padding: 2em 3em 3em;
}

#registration form .input-field {
    margin: 2em 0;
}

#registration form button {
    margin: 2em 0 0;
}

.collection .collection-item.avatar .title {
    font-size: 1.3em;
}

.collection .collection-item.avatar {
    padding-top: 1.75em;
    padding-bottom: 1.75em;
    margin: 0.25em 1.25em;
}

.collection-item:hover {
    background: #f5f5f5;
}

[type="radio"]:checked + label::after {
    border: 2px solid #2196F3;
    background-color: #2196F3;
}

#create-event #event-title label.active {
    display: none;
}

.filled-in[type="checkbox"]:checked + label::after {
    border: 2px solid #2196F3;
    background-color: #2196F3;
}

.checkbox-align {
    padding-left: 1em;
}


/* Calendar picker */

.picker__weekday-display {
    background-color: #bf360c;
}

.picker__box {
    border: 5px solid #bf360c;
}

.picker__date-display,
.picker--focused .picker__day--selected {
    background-color: #d84315;
}

.picker__day.picker__day--today,
.picker__today,
.picker__close {
    color: #d84315;
}

.picker__nav--prev:hover,
.picker__nav--next:hover,
button.picker__today:focus,
.picker__day--selected,
button.picker__clear:focus,
button.picker__close:focus {
    background: #ff9e80;
}

#friend-dashboard .friend-list-cards .card-panel {
    cursor: pointer;
}

#friend-dashboard .friend-list-cards .card-panel:active {
    background: #2196F3;
    color: #FFF;
    transition: all .3s ease;
}

#create-event [type="checkbox"] + label {
    margin-left: 1em;
    margin-top: 1em;
}

#map input[type="text"] {
    background: #424242;
    margin-top: .7em;
    height: 2.1em;
    border: 2px solid #FFC02A;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
}

#error-checking {
    position: fixed;
    top: 14em;
    right: 2em;
    width: 18em;
    display: none;
}

.no-mar {
    margin: 0;
}

.no-pad {
    padding: 0;
}

.hero {
    max-height: 20em;
    height: auto;
    overflow: hidden;
    border: .3em solid #37474F;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.hero img {
    width: 100%;
}

.user-pic-large {
    max-height: 3em;
    height: auto;
    width: 5%;
    max-width: 1em;
}

.style-tab {
    -webkit-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    padding: 1.75em 0;
}

.style-tab i {
    padding: .25em;
    border: .15em solid #FFF;
    margin-top: .15em;
}

#event-details .title {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0;
}

.info-bar {
    padding: 1em;
    margin: 3em 0;
}

.info-bar .attendees-preview {
    padding-bottom: 0em;
}

.info-bar h2 {
    margin-top: .5rem;
}

.info-bar span {
    letter-spacing: 1.2px;
}

.blue-glow {
    text-shadow: 0 0 10px #B9D6F3;
}

#event-details .card-panel {
    padding: 1.5em 2.5em;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: center;
    align-items: center;
    margin: .85em auto;
}

header .flex-container {
    justify-content: flex-end;
}

.flex-container .btn {
    background: #FFFFFF;
    color: #2196F3;
}

header .hamburger-menu {
    margin: 1em 0em 1.5em !important;
    background: #FFFFFF;
    color: #2196F3;
}

.flex-container > * {
    margin: .35em .5em;
}

.progress {
    bottom: 4px;
    margin: 0 0 -4px 0;
}

#filters {
    margin: .3em auto;
    height: 3em;
}

#filters * {
    display: inline-block;
    
}

#filters, #filters a {
    color: #CFD8DC;
}

#filters a, input[type="range"] + .thumb {
    background-color: #37474F;
}

#filters input[type="text"] {
    height: 1.5rem;
    width: 5rem;
    font-size: .9rem;
    margin: 0 .75em;
    padding: 0;
    font-family: rubik;
    letter-spacing: 2px;
    text-align: center;
    background: #37474F;
    border-radius: 2px;
}



#filters .chip {
    background-color: #37474F;
    line-height: 25px;
    height: 25px;
    font-size: 12px;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

#filters .btn {
    padding: 0 1rem;
}

.active.invert {
    color: #263238 !important;
    background: #FFF !important;
}

.active.highlight {
    background: #47A24B;
    color: #FFF;
    
}

.filled-in[type="checkbox"]:checked + label::after {
    background-color: #37474F;
    border: 2px solid #37474F;
}

input[type="range"] {
    width: 10em;
    border: none;
    margin: 0;
}

#filters input[type="text"]:focus {
    border-bottom: 1px solid #CFD8DC;
    box-shadow: 0 1px 0 0 #CFD8DC;
}

input[type="range"]:active::-moz-range-thumb {
    background-color: #48A64C;    
}

input[type=range]:-moz-focusring {
    outline: none;
}

input[type=range]::-moz-range-track {
    background-color: #37474F;
}

input[type=range]::-webkit-slider-thumb {
    background: #37474F;
}

input[type=range]::-moz-range-thumb {
    background: #344047;
}

input[type=range]::-ms-thumb {
    background: #37474F;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #344047;
}

input[type=range]:active::-webkit-slider-thumb {
    background-color: #48A64C;  
}

@media only screen and (max-width:600px) {
    header {
        font-size: .9em;
    }
    
    h1 {
        display: block;
        text-align: center;
    }
    
    .flex-container {
        justify-content: center;
    }
    
    #side-bar {
        position: initial;
    }
    
    .btn-wide {
        height: auto;
    }