html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    min-height: 5em;
    padding: 0 6em;
}

header.row,
header.row .col {
    margin-bottom: 0;
    margin-top: 0;
}

.dropdown-content li > a {
    color: #2196F3;
    font-weight: normal;
    font-family: rubik, sans-serif;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    letter-spacing: 1px;
    display: inline-block;
}

h1 a {
    font-family: Dosis;
}

a,
button,
.btn {
    font-family: "Raleway", "Roboto", sans-serif;
}

button[type="submit"],
a[type="submit"] {
    font-weight: bold;
}

h2,
h3,
h4,
h5,
h6,
.card-title {
    font-family: "Rubik", "Roboto";
}

::selection {
    color: #000;
    background: rgb(194, 218, 158);
}

::-moz-selection {
    color: #000;
    background: rgb(194, 218, 158);
}

:-ms-input-placeholder {
     color: rgba(0,0,0, .75);
}
::-webkit-input-placeholder {
     color: rgba(0,0,0, .75);
}
:-moz-placeholder {
     color: rgba(0,0,0, .75);
}
::-moz-placeholder {
    color: rgba(0,0,0, .75);
}

.primary-green {
    background: #48A64C !important;
}

.bold-blue {
    background: #4687F2;
    padding-bottom: 4em;
}

.bg {
    min-height: 90vh;
}

.bg .container > .row {
    margin-bottom: 0;
}

.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(33, 150, 243, 0.45);
}

header ul {
    display: inline-block;
}


/* Allows jQuery animations like .slideDown which require element to be hidden,
but Materialize .hide will not work since it has !important which will prevent .slideDown from working */

.simple-hide {
    display: none;
}

.large-icon {
    font-size: 3em;
}

#main-container {
    height: calc(90vh - 5em);
}

#main-container > .row {
    margin: 0;
}

.logo-container {
    padding-top: 1em !important;
}

.logo-img {
    background: url('/img/white_logo_med.png') no-repeat top center;
    background-size: contain;
    height: 3em;
    width: 3em;
    display: inline-block;
    vertical-align: bottom;
}

#map-panel {
    padding: 0;
}

.map-container {
    height: calc(100vh - 10.1em);
}

#map {
    height: inherit;
}

#event-dashboard #map,
#event-hist #map {
    width: 100%;
    display: inline-block;
    height: 80vh;
}

.cust-collection {
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cust-collection .collection-item {
    display: flex;
    margin-bottom: 0;
}

.cust-collection .info {
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    padding: 1em 2em;
}

.info a {
    font-weight: bold;
}

.dyn_attendees {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #37474F;
    color: #FFF;
    font-weight: bold;
    font-size: 1.5em;
    border-top: 1px solid #455a64;
    border-bottom: 1px solid #455a64;
}

.cust-collection .collection-item:first-child:before {
    content: "Attendees";
    position: absolute;
    padding: .4em .5em;
    background: #263238;
    color: #FFF;
}

#event-details #map {
    width: 100%;
    display: inline-block;
    height: 20em;
}

#event-dashboard .collection {
    margin-left: 4em;
    display: inline-block;
    width: 45%;
    vertical-align: top;
    height: 40em;
    overflow-y: scroll;
    overflow-x: hidden;
}

#side-bar {
    display: inline;
    position: absolute;
    height: calc( 100vh - 5em);
    overflow-y: scroll;
}

#side-bar h5 {
    padding: .1em 0;
}

.tabs .indicator {
    background: #2196F3;
    height: 0.375em;
}

.tabs {
    overflow: hidden;
    font-weight: 700;
}

h3 {
    text-align: center;
}

.modal-footer {
    font-weight: bold;
}

.modal-small {
    max-width: 25em;
}

.modal-med {
    max-width: 35em;
}

.modal-large {
    width: 85%;
}

.modal-padding {
    padding: 3em 3em 1em 3em;
}

.row-tight {
    margin: 0;
}

.card {
    overflow: auto;
    color: #757575;
}

.card .img-wrapper {
    overflow: hidden;
    height: 10em;
}

.card .card-title {
    word-wrap: break-word;
    margin-bottom: 10px;
    padding-left: 0;
    font-size: 1.75em;
}

.card .card-title a {
    font-size: .8em;
}

.title {
    padding-bottom: 1em;
    font-weight: bold;
}

.mini-cal {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
}

.mini-cal {
    font-family: raleway, roboto, sans-serif;
    color: #48A64C;
}

.mini-cal .day {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: .5em;
}

.mini-cal .day-num {
    font-weight: 700;
    font-size: 1.25em;
}

.mini-cal .month {}

.mini-cal .context {
    font-family: roboto, sans-serif;
    color: #78909C;
    text-transform: capitalize;
    font-size: .8em;
    padding-bottom: .5em;
}

.icon-hoverable * {
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

.icon-hoverable i {
    width: 0;
    opacity: 0;
    margin: 0;
}

.icon-hoverable:hover i {
    width: 22px;
    margin-right: 10px;
    opacity: 1;
}

.icon-hidden {
    visibility: hidden;
}

.span-padded span {
    padding: 0 .75em;
}

.span-padded i {
    position: relative;
    top: 3px;
}

.vertical-align {
    vertical-align: middle;
}

#side-bar .card.dyn .card-content {
    padding-bottom: 0;
}

.card.dyn p {
    max-height: 10em;
    overflow-y: auto;
    line-height: 1.75;
    margin: 1em 0;
}

#side-bar a.chip:hover,
.side-nav a.chip:hover {
    color: #48A64C;
}


#side-bar .chip,
#search-result .chip {
    background: #EFEFEF;
    transition: background 0.25s ease-in-out;
    -moz-transition: background 0.25s ease-in-out;
    -o-transition: background 0.25s ease-in-out;
    -webkit-transition: background 0.25s ease-in-out;
}


/* For autocomplete chip arrow navigation */

#side-bar .chip:focus {
    background: #B9EABA;
}

#side-bar .card.dyn .card-action {
    max-height: 6.25em;
}

.card.dyn .card-title {
    line-height: 26px;
}

.side-info {
    color: #424242;
}

.card a:not(.chip) {
    font-weight: 700;
}

.card .flex-container {
    margin: .25em 0;
}

.card .divider {
    opacity: .5;
}

#side-bar .card .card-action {
    overflow: hidden;
    background: #F5F5F5;
}

#side-bar .pre-btn {
    padding-top: .8em;
}

#side-bar .pre-btn a {
    color: #61617A;
}

.modal .dyn_avatar {
    border: .3em solid #DDD;
}

.modal .dyn_avatar.selected {
    border: .3em solid #2196F3;
}

.dyn_avatar {
/*    background: url('https://avatars3.githubusercontent.com/u/8071305?v=3&s=460');*/
    background: #EFEFEF;
    border-radius: 50%;
    height: 3.5em;
    width: 3.5em;
    background-size: cover;
    margin: 1.5em auto;
}

.dyn_avatar > .material-icons {
    position: relative;
    bottom: 0;
    top: 2.5em;
    left: 2.4em;
    padding: 0.2em;
}

.sm-circle {
    border-radius: 50%;
    font-size: 1.75em;
    line-height: 1.1;
    position: absolute;
    top: .1em;
    right: .1em;
}


/*
.more-wrapper {
    position: relative;
}

.card .more {
    padding: 1.3em .75rem .35em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: inherit;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 66%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 66%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 63%,rgba(255,255,255,1) 66%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}
*/

.btn-go {
    width: 7em;
    min-width: 3.5em;
    height: 3.5em;
    border-radius: 3em;
    border: 4px solid #2196F3;
    color: #2196F3 !important;
    background: #FFF;
    padding: .75em;
    margin-right: 0;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    letter-spacing: 1px;
    transition: all 0.25s ease-in-out !important;
    -moz-transition: all 0.25s ease-in-out !important;
    -o-transition: all 0.25s ease-in-out !important;
    -webkit-transition: all 0.25s ease-in-out !important;
}

.btn-go.disabled {
    color: #FFF !important;
    background: #D3D3D3 !important;
    border-color: #D3D3D3 !important;
    font-weight: 400 !important;
}

.btn-go:not(.dirty):hover,
.btn-go.success {
    color: #FFF !important;
    background: #2196F3 !important;
}

.btn-go.failure {
    background: #D32F2F !important;
    border-color: #D32F2F !important;
    color: #F9C107 !important;
}

.btn-go.wide {
    width: 9em;
}

.spinner-blue-only {
    border-color: #2F9DF4;
}

#side-bar .circle-clipper .circle {
    border-width: 4px;
}

#side-bar .preloader-wrapper {
    position: relative;
    left: 3.5em;
    width: 3.5em;
    height: 3.5em;
}

.card-selected {
    background: #2196F3;
    color: #FFF;
}

.inverted-footer {
    margin: 0 -2em -2em -2em;
    padding: 2em;
}

.friends-attending {
    font-family: "Raleway", "Roboto";
    padding: 1em 2.35em 0;
    margin: 0 -1.35em 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.friends-attending img {
    margin: .25em 1.2em 0 0;
}

.attendees-preview {
    padding-top: 1em;
    padding-bottom: 1em;
}

.num-count {
    display: inline-block;
    font-weight: bold;
    font-family: "Roboto";
    padding-left: .6em;
    line-height: 2.25em;
}


/* label color */


/*
.input-field label {
    color: #48A64C;
}
*/


/* label focus color */

.input-field input[type=text]:focus + label {
    color: #2196F3;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196F3;
    box-shadow: 0 1px 0 0 #2196F3;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: #2196F3;
}

input:focus:not([type]):not([readonly]) + label,
input[type="text"]:focus:not([readonly]) + label,
input[type="password"]:focus:not([readonly]) + label,
input[type="email"]:focus:not([readonly]) + label,
input[type="url"]:focus:not([readonly]) + label,
input[type="time"]:focus:not([readonly]) + label,
input[type="date"]:focus:not([readonly]) + label,
input[type="datetime"]:focus:not([readonly]) + label,
input[type="datetime-local"]:focus:not([readonly]) + label,
input[type="tel"]:focus:not([readonly]) + label,
input[type="number"]:focus:not([readonly]) + label,
input[type="search"]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #2196F3;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #2196F3;
    box-shadow: 0 1px 0 0 #2196F3;
}

.icons-inline {
    font-size: 22px;
}

i.add-cursor {
    transition: transform 0.1s ease-in-out;
    -moz-transition: transform 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out;
    -webkit-transition: transform 0.1s ease-in-out;
}

i.add-cursor:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    color: #FFC02A;
    opacity: 1 !important;
}

#side-bar .collapsible,
.collapsible-header,
.collapsible-body {
    border: none;
}

#side-bar .collapsible {
    box-shadow: none;
    margin: 0;
}

footer img {
    max-width: 10em;
    max-height: 2.5em;
}

footer.page-footer a {
    font-family: "Roboto", sans-serif;
    color: #9e9e9e;
}


/* Necessary to show footer links on front page.
Otherwise, the datepicker will display as a block since js runs first
Don't use .hide class! -- Doesn't work */

#hidden {
    display: none;
}

#home footer a {
    margin-left: 1em;
}

#home footer {
    padding: 0em;
    max-height: 1.5em;
    overflow: auto;
}

#home footer a {
    height: auto;
    text-align: center;
    line-height: 2em;
}

.info-card {
    display: inline-block;
    width: 47%;
    margin: auto;
    border: 25px;
    min-width: 300px;
}

.info-card .col.s6 {
    width: 100%;
}

.user-thumb {
    width: 2.45em;
    height: 2.45em;
    padding-top: .1em;
    margin: 0 .5em;
    vertical-align: bottom;
}

.user-thumb-med {
    width: 3.25em;
    height: 3.25em;
}

.user-thumb-large {
    width: 3em;
    height: 3em;
    margin: 0 1.25em 1.25em 0;
}

.pad-up {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.chip-margin-right {
    margin-right: 1em;
}

p.reading {
    line-height: 1.75em;
}

#faq .collapsible-header.active {
    background: #eceff1;
    font-weight: bold;
}

.add-cursor,
.close {
    cursor: pointer;
}

.icon-pulse {
	-moz-animation: pulse 4s infinite;
	-o-animation: pulse 4s infinite;
	-webkit-animation: pulse 4s infinite;
	animation: pulse 4s infinite;
}

@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: .45; }
	100% { opacity: 1; }
}
@-moz-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: .45; }
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: .45; }
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: .45; }
	100% { opacity: 1; }
}
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: .45; }
	100% { opacity: 1; }
}

#event-panel .close {
    position: absolute;
    top: 20px;
    right: 20px;
}

#create-event h2 {
    margin: .75em;
}

#event-container {
    padding: 2em;
    margin-bottom: 5em;
}

#create-event #map {
    height: 25em;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#create-event #event-title {
    background: #2196F3;
    margin: -2em -2em 1.5em;
    padding: 1.5em;
}

#create-event #event-title input,
#create-event #event-title input:focus {
    margin-left: 1.75em;
    font-size: 2.75em;
    border: none;
    box-shadow: none;
    height: auto;
}

#create-event #event-title i {
    font-size: 3.75em;
}

#create-event #event-title label {
    font-size: 2.5em;
    top: 0em;
    margin-left: 2em;
    color: rgba(255, 255, 255, .5) !important;
}

#create-event .switch {
    margin-top: 2em;
    display: inline-block;
}

#event-dashboard header,
#event-hist header,
#friend-dashboard header {
    margin-bottom: 5em;
}

#registration .container {
    padding-top: 5em;
}

#registration form {
    color: #607D8B;
}

#registration form h2,
h3,
h4,
h5 {
    color: #455A64;
}

#registration form {
    padding: 2em 3em 3em;
}

.collection-item:hover {
    background: #f5f5f5;
}

.collection-item:hover .dyn_attendees {
    background: #263238;
}

[type="radio"]:checked + label::after {
    border: 2px solid #2196F3;
    background-color: #2196F3;
}

#create-event #event-title label.active {
    display: none;
}

.filled-in[type="checkbox"]:checked + label::after {
    border: 2px solid #2196F3;
    background-color: #2196F3;
}

.checkbox-align {
    padding-left: 1em;
}


/* Calendar picker */

.picker__weekday-display {
    background-color: #bf360c;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker__date-display,
.picker--focused .picker__day--selected {
    background-color: #d84315;
}

.picker__day.picker__day--today,
.picker__today,
.picker__close {
    color: #d84315;
}

.picker__nav--prev:hover,
.picker__nav--next:hover,
button.picker__today:focus,
.picker__day--selected,
button.picker__clear:focus,
button.picker__close:focus {
    background: #ff9e80;
}

#friend-dashboard .friend-list-cards .card-panel {
    cursor: pointer;
}

#friend-dashboard .friend-list-cards .card-panel:active {
    background: #2196F3;
    color: #FFF;
    transition: all .3s ease;
}

#create-event [type="checkbox"] + label {
    margin-left: 1em;
    margin-top: 1em;
}

#map input[type="text"] {
    background: #424242;
    margin-top: .7em;
    height: 2.1em;
    border: 2px solid #FFC02A;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
}

#error-checking {
    position: fixed;
    top: 14em;
    right: 2em;
    width: 18em;
    display: none;
}

.no-mar {
    margin: 0 !important;
}

.no-pad {
    padding: 0 !important;
}

.hero {
    max-height: 20em;
    height: auto;
    overflow: hidden;
    text-shadow: 0px 3px 8px rgba(00, 00, 0, .75);
}

.hero img {
    width: 100%;
}

.user-pic-large {
    max-height: 3em;
    height: auto;
    width: 5%;
    max-width: 1em;
}

#event-details .title {
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0;
}

#event-details .card-image {
    max-height: 20em;
}

#event-details .card-title {
    margin: 0px 0 15px;
}

#event-details .card-title a {
    font-size: 1em;
}

.soft-border {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}

.info-bar {
    padding: 3em 1em;
}

.info-bar .attendees-preview {
    padding-bottom: 0em;
}

.info-bar h2 {
    margin-top: .5rem;
}

.info-bar span {
    letter-spacing: 1.2px;
}

.blue-glow {
    text-shadow: 0 0 10px #B9D6F3;
}

#event-details .card-panel {
    padding: 1.5em 2.5em;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: space-between;
    align-items: center;
    margin: .85em auto;
}

header .flex-container {
    justify-content: flex-end;
}

header a {
    font-weight: bold;
}

header .btn-flat {
    background: #FFFFFF;
    color: #2196F3;
}

header .btn-flat:hover {
    background: #F5FFF2;
}

header .btn {
    background: #FFF;
    color: #2196F3;
}

header .btn:hover {
    background: #F5FFF2;
}

header .hamburger-menu {
    margin: 1em 0em 1.5em !important;
    background: #FFFFFF;
    color: #2196F3;
}

.flex-container > * {
    margin: .35em .5em;
}

.progress {
    bottom: 4px;
    margin: 0 0 -4px 0;
}

#filter-side-bar {
    padding: 1em 2.5em;
}


/* For sidebar address */

input.border-thick,
.border-thick {
    border-bottom: 3px solid #E4E4E4;
}

.border-thick:focus:not([readonly]),
.chips.focus {
    border-bottom: 3px solid #2196F3;
    box-shadow: none;
}

#side-bar .chip.active {
    background: #2196F3;
    color: #FFF;
}

#filters {
    margin: .3em auto;
    height: 3em;
}

#filters * {
    display: inline-block;
}

#filters,
#filters a {
    color: #CFD8DC;
}

#filters a,
input[type="range"] + .thumb {
    background-color: #37474F;
}

#filters input[type="text"] {
    height: 1.5rem;
    width: 5rem;
    font-size: .9rem;
    margin: 0 .75em;
    padding: 0;
    font-family: rubik;
    letter-spacing: 2px;
    text-align: center;
    background: #37474F;
    border-radius: 2px;
}

#filters .chip {
    background-color: #37474F;
    line-height: 25px;
    height: 25px;
    font-size: 12px;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

#filters .btn {
    padding: 0 1rem;
}

.active.invert {
    color: #263238 !important;
    background: #FFF !important;
}

.active.highlight {
    background: #47A24B;
    color: #FFF;
}

.filled-in[type="checkbox"]:checked + label::after {
    background-color: #48A64C;
    border: 2px solid #48A64C;
}

input[type="range"] {
    border: none;
    margin: 0;
}

#filters input[type="text"]:focus {
    border-bottom: 1px solid #CFD8DC;
    box-shadow: 0 1px 0 0 #CFD8DC;
}

input[type=range]:-moz-focusring {
    outline: none;
}

input[type=range]::-moz-range-track {
    background-color: #E4E4E4;
}

input[type=range]::-webkit-slider-thumb {
    background: #48A64C;
}

input[type=range]::-moz-range-thumb {
    background: #48A64C;
}

input[type=range]::-ms-thumb {
    background: #48A64C;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #344047;
}

#side-bar .select-dropdown {
    border-bottom: none;
    margin-bottom: .1em;
}

.select-wrapper input.select-dropdown {
    height: 2em;
}

#side-bar .caret {
    top: 4px;
}

.dark .dropdown-content {
    background: #263238;
    color: #A5D6A7;
}

.dark .dropdown-content li > span {
    color: rgba(255, 255, 255, .70);
}

.dark .dropdown-content li:hover {
    background: rgba(255, 255, 255, 0.15);
}

.dark .dropdown-content li.active,
.dark .dropdown-content li.selected {
    background: #48A64C;
    color: #FFF;
}

#side-bar .dropdown-content span {
    font-size: .9em;
    padding: .5em;
}

#side-bar li {
    min-height: auto;
}

.btn-toolbar .chip {
    margin: 0;
}

#search .btn-search {
    margin-top: 1.5em;
    display: inline-block;
}

#search .chip {
    font-family: "Roboto";
}

#search .chip:hover {
    background: #D3D3D3;
    color: #000;
}

@media only screen and (max-width:600px) {
    header {
        font-size: .9em;
    }
    .logo-container {
        text-align: center;
    }
    .flex-container {
        justify-content: center;
    }
    .flex-container img {
        max-height: 3.25em;
    }
    #side-bar {
        position: initial;
    }
    .btn-wide {
        height: auto;
    }
    #side-bar .card .card-action {
        height: auto;
        overflow: auto;
    }
    #filter-side-bar {
        width: 275px !important;
    }
}