html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    height: 10%;
    padding: 1.15em 4em;
    min-height: 5em;
}

.dropdown-content li > a {
    color: #2196F3;
}

h1 {
    display: inline;
    font-family: Dosis;
    font-size: 2.5em;
    letter-spacing: 1px;
}

#home h1 {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.30);
}

#home header {
    -webkit-box-shadow: 0 3px 10px 0 rgba(255, 255, 255, .75);
    box-shadow: 0 3px 10px 0 rgba(255, 255, 255, .75);
}

header ul {
    float: right;
    margin-top: .25em;
}

.large-icon {
    font-size: 3em;
}

#main-container {
    height: 90%;
}

#map {
    height: 96%;
    width: 70%;
    display: inline-block;
}

#side-bar {
    display: inline;
    position: absolute;
    width: 30%;
    height: 90%;
    overflow-y: scroll;
}

#side-bar h5 {
    padding: .1em .5em;
}

#side-bar .tabs .indicator {
    background: #2196F3;
    height: 4px;
}

.tabs {
    overflow: hidden;
}

h3 {
    text-align: center;
}

#modal1 {
    max-width: 25em;
}

.login-modal {
    padding: 3em 3em 1em 3em;
}

.title {
    padding-bottom: 1em;
    font-weight: bold;
}

/* label focus color */

#create-event .input-field input[type=text]:focus + label {
    color: #2196F3;
}


/* label underline focus color */

.input-field input[type=text]:focus,
input[type="password"]:focus:not([readonly]) {
    border-bottom: 1px solid #2196F3;
    box-shadow: 0 1px 0 0 #2196F3;
}

i.material-icons.prefix.active,
.input-field .prefix.active,
input[type="password"]:focus:not([readonly]) + label {
    color: #2196F3;
}

i.add-cursor:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.012, 1.027);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.012, 1.027);
    -ms-transform: scale(1.012, 1.027);
    color: #FFC02A;
}

#side-bar .collapsible,
.collapsible-header,
.collapsible-body {
    border: none;
}

#side-bar .collapsible {
    box-shadow: none;
    margin: 0;
}

#side-bar .collapsible p {
    padding: .5rem 1rem 1.5rem;
}

#side-bar .collapsible i:hover,
#side-bar .collapsible a:hover {
    color: #424242 !important;
}

footer {
    padding: 1.5em;
}

footer a {
    margin-left: 1em;
}

#home footer {
    width: 70%;
    padding: 0em;
}

#home footer a {
    margin-left: 1em;
    text-align: center;
    line-height: 2em;
}

.pad-up {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.chip-margin-right {
    margin-right: 1em;
}

p.reading {
    line-height: 1.75em;
}

#faq .collapsible-header.active {
    background: #eceff1;
    font-weight: bold;
}

.add-cursor,
.close {
    cursor: pointer;
}

#create-event h2 {
    margin: .75em;
}

#event-container {
    padding: 2em;
}

#create-event #map {
    height: 25em;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

#create-event #event-title {
    background: #2196F3;
    margin: -2em -2em 1.5em;
    padding: 1.5em;
}

#create-event #event-title input,
#create-event #event-title input:focus {
    margin-left: 1.75em;
    font-size: 2.75em;
    border: none;
    box-shadow: none;
    height: auto;
    font-family: Dosis;
}

#create-event #event-title i {
    font-size: 3.75em;
}

#create-event #event-title label {
    font-size: 2.5em;
    top: 0em;
    margin-left: 2em;
    color: rgba(255, 255, 255, .5) !important;
}

#create-event .switch {
    margin-top: 2em;
    display: inline-block;
}

#sign-up header,
#event-dashboard header {
    margin-bottom: 5em;
}

#sign-up {
    background: #4687F2;
}

#sign-up form {
    padding: 2em 3em 3em;
}

#sign-up form .input-field {
    margin: 2em 0;
}

#sign-up form button {
    margin: 2em 0 0;
}

.collection .collection-item.avatar .title {
    font-size: 1.3em;
}

.collection .collection-item.avatar {
    padding-top: 1.75em;
    padding-bottom: 1.75em;
}

[type="radio"]:checked + label::after {
    border: 2px solid #2196F3;
    background-color: #2196F3;
}

#create-event #event-title label.active {
    display: none;
}

.filled-in[type="checkbox"]:checked + label::after {
    border: 2px solid #2196F3;
    background-color: #2196F3;
}

.checkbox-align {
    padding-left: 1em;
}
/* Calendar picker */

.picker__weekday-display {
    background-color: #33691E;
}

.picker__box {
    border-color: #33691E;
}

.picker__date-display,
.picker--focused .picker__day--selected {
    background-color: #689F38;
}

.picker__day.picker__day--today,
.picker__today,
.picker__close {
    color: #689F38;
}

#create-event [type="checkbox"] + label {
    margin-left: 1em;
    margin-top: 1em;
}

#map input[type="text"] {
    background: #424242;
    margin-top: .7em;
    height: 2.1em;
    border: 2px solid #FFC02A;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
}

#error-checking {
    position: fixed;
    top: 14em;
    right: 2em;
    width: 18em;
    display: none;
}