.bg-green {
    background: #48a64c;
}

.bg-blue {
    background: #5692F5;    
}

.full-height {
    height:100vh;
}

header {
    text-align: center;
    padding-top: 5%;
    padding-bottom: calc(5% + 2.1rem);
}

header * {
    display: inline-block;
}

h1.fancy {
    font-family: Dosis, sans-serif;
    text-align: center;
    vertical-align: top;
}

h2, h3, h4, h5 {
    font-family: Raleway, sans-serif;
    color: #039be5;
}
.subtitle {
    font-family: 'Bad Script', cursive;
}

.logo {
    background: url('/img/logo_large_white2.png') no-repeat top center;
    background-size: contain;
    background-repeat: none;
    height: 5em;
    width: 5em;
    margin: 2.1rem .75rem 1.68rem 0;
}

.tagline {
    display: block;
    font-size: 2em;
    letter-spacing: 2px;
    font-family: "bad script", cursive;
    padding-bottom: 1.68rem;
}

.w-hover:hover {
    background: #FFF;
}

.w-hover:hover a {
    color: #039be5 !important;
}

.bg-brush-pattern {

}

.container {
    padding-top: 3em;
    padding-bottom: 3em;
}

.Media {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
}

.Media-figure {
    margin-right: 1em;
}

.Media-body {
    flex: 1;
}
.Media-body,
.Media-body :last-child {
    margin-bottom: 0;
}

.Media-title {
    margin: 0 0 .5em;
}

.Media--center {
    align-items: center;
}


.grid-panel {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.panel-item {
    text-align: center;
}

.panel-item img {
    width: 9em;
    display: block;
    margin: 2em auto;
}

::-moz-selection { /* Code for Firefox */
    background: rgba(119, 234, 123, .5);
}

::selection {
    background: rgba(119, 234, 123, .5);
}

strong {
    font-weight: 700;
}

#promo ul {
    color: #607d8b;
}

#promo ul li {
    margin-top: 4em;
    margin-bottom: 4em;
}

#promo ul p {
    font-size: 1.5em;
    font-family: Rubik;
}

.hand {
    background: url('/img/Android_Hand.jpg') no-repeat left -10%;
    min-height: 40em;
    background-size: cover;
}
