.bg-green {
    background: #48a64c;
}

.bg-blue {
    background: #5692F5;    
}

.full-height {
    height:100vh;
}

header {
    text-align: center;
    padding-top: 5%;
    padding-bottom: calc(5% + 2.1rem);
}

header * {
    display: inline-block;
}

h1.fancy {
    font-family: Dosis, sans-serif;
    text-align: center;
    vertical-align: top;
}

.fancy {
    font-family: 'Bad Script', cursive;
}
h2, h3, h4, h5 {
    font-family: Raleway, sans-serif;
    color: #039be5;
}

.logo {
    background: url('/img/white_logo_med.png') no-repeat top center;
    background-size: contain;
    background-repeat: none;
    height: 5em;
    width: 5em;
    margin: 2.1rem .75rem 1.68rem 0;
}

.tagline {
    display: block;
    font-size: 2em;
    letter-spacing: 2px;
    padding-bottom: 1.68rem;
}

.w-hover:hover {
    background: #FFF;
}

a:hover .btn.white-text {
    background: #fff;
    color: #039be5 !important;
}

.btn.white-text:focus {
    background: #3E7CE0;
}

.bg-brush-pattern {

}

.container {
    padding-top: 3em;
    padding-bottom: 3em;
}

.Media {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
}

.Media-figure {
    margin-right: 1em;
}

.Media-body {
    flex: 1;
}
.Media-body,
.Media-body :last-child {
    margin-bottom: 0;
}

.Media-title {
    margin: 0 0 .5em;
}

.Media--center {
    align-items: center;
}


.grid-panel {
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.panel-item {
    text-align: center;
}

.panel-item img {
    width: 10em;
    display: block;
    margin: 4em auto;
}

#team .panel-item img {
    width: 13.5em;
    border: .4em solid #DDD;
    border-radius: 50%;
}

#team .panel-item img {
    width: 13.5em;
    border: .4em solid #DDD;
    border-radius: 50%;
    
     transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

#team .panel-item img:hover {
    border: .4em solid #2196F3;    
}

#team .panel-item {
    margin: 3em 0;
}

#team .panel-item h5 {
    font-variant: small-caps;
    color: #37474F;
}

#team .panel-item span {
    font-weight: normal;
}

::-moz-selection { /* Code for Firefox */
    background: rgba(119, 234, 123, .5);
}

::selection {
    background: rgba(119, 234, 123, .5);
}

strong {
    font-weight: 700;
}

#promo ul {
    color: #607d8b;
}

#promo ul li {
    margin-top: 4em;
    margin-bottom: 4em;
}

#promo ul p {
    font-size: 1.5em;
    font-family: Rubik;
}

.hand {
    background: url('/img/splash/Android_Hand.jpg') no-repeat left -10%;
    min-height: 40em;
    background-size: cover;
}

.right-ribbon {
    font-size: 4em;
    letter-spacing: 5px;
    color: rgba(255,255,225, .15);
}

.modal {
    width: 30em;
}
.modal-padding {
    padding: 3em 3em 1em 3em;
}

.about-us-bg {
    background: url('/img/splash/laptop.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
}

footer a {
    margin-left: 1em;
}
