<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Password Reset</title>
</head>
<body>

	<link href='https://fonts.googleapis.com/css?family=Dosis:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700|Rubik:400|Material+Icons' rel='stylesheet' type='text/css'>
	
	<style type="text/css">
		
	</style>

	<div class="row">
                <div class="col s12">
                    <div class="card light-blue darken-3">
                        <div class="card-content white-text">
                            <span class="card-title">Card Title</span>
                            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>

                        <div class="card-action light-blue darken-2">
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header light-blue darken-2">
                                        <a href="#" class="orange-text" onclick="Materialize.toast('I am a toast', 4000)">Going</a>
                                        <a href="#" class="orange-text">Not Going</a>
                                        <i class="material-icons right">keyboard_arrow_down</i>
                                    </div>
                                    <div class="collapsible-body white-text">
                                        <p>Lorem ipsum dolor sit amet.</p>
                                        <div class="chip">
                                            Tag
                                            <i class="material-icons">close</i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
</body>
</html>