
    <footer class="grey lighten-3 grey-text">
        <div class="footer-copyright">
            <div class="container">

                <a class="blue-grey-text" href="#!">© 2015 LeavittInnovations.</a>
                <a class="right blue-grey-text" href="./tos.html">Terms of Service</a>
                <a class="right blue-grey-text" href="./privacy.html">Privacy Policy</a>
                <a class="right blue-grey-text" href="./faq.html">FAQ</a>
            </div>
        </div>
    </footer>
</body>

</html>